@import url(http://fonts.googleapis.com/css?family=Special+Elite);

html, body {
  height:100%;
  /*font-family: 'Signika Negative', sans-serif;*/
  font-family: 'Special Elite', cursive;
  font-size: 25px;
}

html {
  background: url(../images/bg2.jpg) fixed;
  background-color: #ccc;
  background-size: 100%;
}

div {
  overflow: hidden;
}

h1 {
	text-align: center; 
}

a {
  color: #322bff;
  text-decoration: underline;
  transition: 500ms;
}
a:hover {
  color: #26a1ff;
}

p {
  padding: 0 5%;
/*  text-align: center;*/
}

img {
  box-shadow: 0px 0px 4px #000;
}

form ul li{
	list-style-type: none;
}

input {
	border-radius: 5px;
	font-size: 15px;
	width: 150px;
	height: 20px;
}

input:focus {
    outline: none;
    border: 1px solid #bc0b0b;
    box-shadow: 0px 0px 8px #bc0b0b;
}

button {
	border-color: #000; 
	color: #000;
	background-color: #600;
	border-radius: 5px;
	font-size: .80em;
	width: 150px;
	height: 28px;
}

button:hover {
  background-color: #9e0000;
}

button:focus {
  outline: none;
  border-color: #000;
  box-shadow: none;
}

form {
	text-align: center;
}

form input {
	margin-top: 5px;
	border-radius: 5px;
	font-size: 20px;
	width: 500px;
	height: 40px;
}

form button {
	margin-top: 5px;
	border-radius: 5px;
	font-size: 20px;
	width: 200px;
	height: 40px;
}

input:focus {
	color: #fff;
	background-color: #000;
}

#header {
  background: hsla(299, 100%, 0%, 0.5);
  padding: 1%;
  overflow: hidden;
  height: 55px;
}
#header img {
  float: left;
  box-shadow: none;
}
#header ul {
  list-style: none;
  float: left;
  padding-left: 10px;
  margin-top: 15px;
}
#header ul li {
  float: left;
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
}

.fullscreen {
  height: 95%;
  position: relative;
}
.fullscreen .header {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  text-shadow: 0px 0px 2px #000;
}

.white {
  background: #eeeeec;
  padding: 0 5%;
}
.nobg {
  background: none;
  padding: 0 5%;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
}
.semitrans {
  background: rgba(255, 255, 255, .8);
  padding: 0 5%;
}
.clear {
  background: hsla(299, 100%, 0%, .15);
  padding: 0 5%;
  height: 75%;
  color: white;
  list-style-type: none;
}
.dark {
  clear: both;
  color: #eeeeec;
  background: hsla(299, 100%, 0%, 0.5);
  padding: 0 5%;
  text-align: center;
}

.nopadding {
  padding: 0;
}

.floatleft {
  float: left;
  margin: 2%;
}
.floatright {
  float: right;
  margin: 2%;
}

.more {
  text-align: center;
  font-size: 17px;
}
.more a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.more a:hover {
  color: #777;
}

.tooltip {
  display: none;
  position: absolute;
  border: 1px solid #333;
  background-color: #000000;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 5px Arial;
}


#tabs {
  background-color: #999;
  width: 600px;
  height: 150px;
  padding: 20px;
  margin-left:40px;
}

#tabs-nav{
  width: 600px;
  height: 75px;
  padding: 20px;
  margin-left:40px;
  background-color: #999;
  text-decoration: none;
  list-style-type: none;

}

#tabs-nav li {
  display: inline;
}

/* =================== animation thing =================== */

figure#timer-animation {
  z-index: 999999999999;
  position: fixed;
  top: 80px;
  left: -200px;
  text-align: center;
  -moz-animation-name: animation-plok-figure;
  -moz-animation-duration: 3600s;
  -moz-animation-delay: 1348s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -webkit-animation-name: animation-plok-figure;
  -webkit-animation-duration: 2000s;
  -webkit-animation-delay: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -o-animation-name: animation-plok-figure;
  -o-animation-duration: 3600s;
  -o-animation-delay: 1348s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;

  animation-name: animation-plok-figure;
  animation-duration: 3600s;
  animation-delay: 1348s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
figure#timer-animation img {
  margin-top: 0;
  -moz-animation-name: animation-plok-img;
  -moz-animation-duration: 2500ms;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;

  -webkit-animation-name: animation-plok-img;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  -o-animation-name: animation-plok-img;
  -o-animation-duration: 2500ms;
  -o-animation-delay: 0s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: alternate;

  animation-name: animation-plok-img;
  animation-duration: 2500ms;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@-moz-keyframes animation-plok-img {
  from {margin-top: 20px}
  to {margin-top: 80px;}
}
@-moz-keyframes animation-plok-figure {
  0% {left: -200px;}
  0.35% {left: 1346px;}
  100% {left: 1346px;}
}
@-webkit-keyframes animation-plok-img {
  from {margin-top: 20px}
  to {margin-top: 80px;}
}
@-webkit-keyframes animation-plok-figure {
  0% {left: -200px;}
  0.35% {left: 1346px;}
  100% {left: 1346px;}
}
@-o-keyframes animation-plok-img {
  from {margin-top: 20px}
  to {margin-top: 80px;}
}
@-o-keyframes animation-plok-figure {
  0% {left: -200px;}
  0.35% {left: 1346px;}
  100% {left: 1346px;}
}
@keyframes animation-plok-img {
  from {margin-top: 20px}
  to {margin-top: 80px;}
}
@keyframes animation-plok-figure {
  0% {left: -200px;}
  0.35% {left: 1346px;}
  100% {left: 1346px;}
}


/* =================== shake thing =================== */

#glitch:hover{
/*animation*/
-webkit-animation:shake 0.2s infinite;
   -moz-animation:shake 0.2s infinite;
    -ms-animation:shake 0.2s infinite;
     -o-animation:shake 0.2s infinite;
        animation:shake 0.2s infinite;
}
@-webkit-keyframes shake {
    0% { -webkit-transform: skewX(1deg);} 
    10% { -webkit-transform: skewX(-8deg);}
    20% { -webkit-transform: skewX(23deg);  text-shadow:17px 8px rgba(0, 0, 0, 0.65);}
    30% { -webkit-transform: skewX(-70deg); }
    40% { -webkit-transform: skewX(30deg); }
    50% { -webkit-transform: skewX(-20deg);}
    60% { -webkit-transform: skewX(3deg); text-shadow:-10px -18px rgba(0, 0, 0, 0.65);}
    70% { -webkit-transform: skewX(-2deg); }
    80% { -webkit-transform: skewX(30deg); }
    90% { -webkit-transform: skewX(0deg); text-shadow:20px 18px rgba(0, 0, 0, 0.65); }
    100% { -webkit-transform: skewX(0deg);}
}


@keyframes shake {
    0% { transform: skewX(1deg); } 
    10% { transform: skewX(-8deg); }
    20% { transform: skewX(23deg); }
    30% { transform: skewX(-70deg); text-shadow:17px 8px rgba(0, 0, 0, 0.65); }
    40% { transform: skewX(30deg); }
    50% { transform: skewX(-20deg); }
    60% { transform: skewX(3deg); text-shadow:-10px 8px rgba(0, 0, 0, 0.65); }
    70% { transform: skewX(-2deg); }
    80% { transform: skewX(1deg); }
    90% { transform: skewX(0deg); text-shadow:30px 18px rgba(0, 0, 0, 0.65); }
    100% { transform: skewX(0deg);}
}

#shake{
/*animation*/
-webkit-animation:shake 0.2s infinite;
   -moz-animation:shake 0.2s infinite;
    -ms-animation:shake 0.2s infinite;
     -o-animation:shake 0.2s infinite;
        animation:shake 0.2s infinite;
}
@-webkit-keyframes shake {
    0% { -webkit-transform: skewX(1deg);} 
    10% { -webkit-transform: skewX(-8deg);}
    20% { -webkit-transform: skewX(23deg);  text-shadow:17px 8px rgba(0, 0, 0, 0.65);}
    30% { -webkit-transform: skewX(-70deg); }
    40% { -webkit-transform: skewX(30deg); }
    50% { -webkit-transform: skewX(-20deg);}
    60% { -webkit-transform: skewX(3deg); text-shadow:-10px -18px rgba(0, 0, 0, 0.65);}
    70% { -webkit-transform: skewX(-2deg); }
    80% { -webkit-transform: skewX(30deg); }
    90% { -webkit-transform: skewX(0deg); text-shadow:20px 18px rgba(0, 0, 0, 0.65); }
    100% { -webkit-transform: skewX(0deg);}
}


@keyframes shake {
    0% { transform: skewX(1deg); } 
    10% { transform: skewX(-8deg); }
    20% { transform: skewX(23deg); }
    30% { transform: skewX(-70deg); text-shadow:17px 8px rgba(0, 0, 0, 0.65); }
    40% { transform: skewX(30deg); }
    50% { transform: skewX(-20deg); }
    60% { transform: skewX(3deg); text-shadow:-10px 8px rgba(0, 0, 0, 0.65); }
    70% { transform: skewX(-2deg); }
    80% { transform: skewX(1deg); }
    90% { transform: skewX(0deg); text-shadow:30px 18px rgba(0, 0, 0, 0.65); }
    100% { transform: skewX(0deg);}
}





// Mixins

@mixin prefix ($property, $value,
                 $moz:    true,
                 $webkit: true,
                 $o:      false,
                 $ms:     true,
                 $spec:   true) {
    @if $moz    {    -moz-#{$property}: $value; }
    @if $webkit { -webkit-#{$property}: $value; }
    @if $o      {      -o-#{$property}: $value; }
    @if $ms     {     -ms-#{$property}: $value; }
    @if $spec   {         #{$property}: $value; }
}

// Animations

@keyframes bar-fill {
   0% { width: 0; }
}
@-webkit-keyframes bar-fill {
   0% { width: 0; }
}
@-moz-keyframes bar-fill {
   0% { width: 0; }
}
@-o-keyframes bar-fill {
   0% { width: 0; }
}

// Graph stuff

.bar-graph {
    list-style: none;
    margin: 50px 0px auto;
    list-style-type: none;
}

.bar-wrap {
  @include prefix(border-radius,10px 10px 10px 10px);
  background-color: rgba(204, 0, 0, 0.2);          
  border: 1px solid rgba(204, 0, 0, 0.8);
  margin-bottom: 10px;
  max-width: 600px;
}

.bar-fill { 
  @include prefix(border-radius,10px 10px 10px 10px);
  @include prefix(animation, bar-fill 1s);
  background-color: rgba(204, 0, 0, 1);
  display: block;
  height: 15px;
  width: 0px;
}

